html {
  height: 100%;
}
body {
  height: 100%;
  background: linear-gradient(#fff, skyblue);
}

h1 {
  color: #aaa;
}

.container,
.sub-container {
  height: 100%;
}

.modal-wrapper {
  position: absolute;
/*  height: 100%;
  width: 100%;*/
}

.delete-btn {
  margin-right: 10px;
}